
.ed-svg-icon {
    transform: translateZ(0);
	color: red;
}
	

.ed-svg-icon__hover {
    border-radius: 2px;
	transition: all 0.2s ease-in-out;

	&:hover {
        background-color: var(--color--icon__contrary) !important;
		border-radius: 6px;
    }	
}
	

.ed-svg-icon__active {
    background-color: #edeff3;
	--icon--fill-opacity: $opacity--icon__active;
}

.ed-svg-icon__circle {
    border-radius: 50%;
}
